// 项目提供 scss 变量



// layout组件
//左侧菜单宽度 
$base-menu-width:240px;
//左侧菜单背景颜色
$base-menu-background:#f9fafb;
$base-menu-min-width:60px;

//左侧菜单logo高度设置
$base-menu-logo-height:50px;
//左侧菜单logo右侧文字大小
$base-menu-logo-title-fontSize:20px;

//顶部导航高度
$base-tabbar-height:50px;

