// 项目提供 scss 变量



// layout组件
//左侧菜单宽度 
$base-menu-width:240px;
//左侧菜单背景颜色
// $base-menu-background:#f9fafb;
$base-menu-min-width:60px;

//左侧菜单logo高度设置
$base-menu-logo-height:50px;
//左侧菜单logo右侧文字大小
$base-menu-logo-title-fontSize:20px;

//顶部导航高度
$base-tabbar-height:56px;

// 字体颜色
$base-fontSize-color:#34d399;

// 背景色
$base-background:#34d399;


:root {
    --el-color-primary: #34d399 !important;
    --el-color-primary-light-1: #065f46 !important;
    --el-color-primary-light-2: #047857 !important;
    --el-color-primary-light-3: #059669 !important;
    --el-color-primary-light-4: #10b981 !important;
    --el-color-primary-light-5: #34d399 !important;
    --el-color-primary-light-6: #6ee7b7 !important;
    --el-color-primary-light-7: #a7f3d0 !important;
    --el-color-primary-light-8: #d1fae5 !important;
    --el-color-primary-light-9: #ecfdf5 !important;
    --el-color-primary-dark-2: #337ecc !important;
    --el-text-color-primary: text-slate-700;
  }